

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin-top: 40px;
}
.container {
    margin-top: 25px;
    flex: 1;
}
.starter-template {
    padding: 20px 15px;
    text-align: center;
}

table {
    text-align: left;
}

div.thumbnail img {
    max-height: 200px;
}

div.form-inline form {
    display: inline;
}

div.labels {
    position: absolute;
}

div.labels span.badge {
    display: block;
}

span.badge.badge-success {
    color: #fff;
    background-color: #28a745;
}

span.badge.badge-warning {
    color: #fff;
    background-color: #dc3545;
}

span.badge.badge-danger {
    color: #212529;
    background-color: #ffc107;
}

div.filters {
    padding-bottom: 5px;
}
footer {
    padding-top: 50px;
    padding-bottom: 50px;
    color: #99979c;
    background-color: #2a2730;
}
.navbar.navbar-default {
    background-color: #FF6A00;
    border: none;
    position: fixed;
    width: 100%;
    z-index: 999;
    margin-top: -40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-toggle {
    background-color: #fff;
}

.navbar-toggle.collapsed {
    background-color: #fff !important;
}

.navbar-toggle .rotate-icon{
    background-color: #fff;
    transition: all 0.3s ease-out;
    border: none;
    transform: rotate(90deg);
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #FFF;
}

.navbar-toggle.collapsed .rotate-icon {

    transform: rotate(0deg);
}
.navbar-default .navbar-brand{
    color: #fff;
    margin-right: 10vw;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 24px;
}

.nav.navbar-nav .active {

}

.nav.navbar-nav .active>a {
    color: #FF6A00;
    border-radius: 15px;
}
.nav.navbar-nav>li>a {
    color: #fff;
    margin-right: 4px;
    margin-bottom: 5px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 18px;
}
.nav.navbar-nav>li>a:hover {
    color: #161717;
    transition: all 0.5s ease-out;
    text-decoration: none;
}
.nav.navbar-nav .active>a:hover {
    color: #161717;
}

@media (min-width: 768px){
    .navbar {
         border-radius: 0;
    }
}
.navbar.navbar-default .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 25px;
    margin-left: 25px;
}

.nav-auth {
    display: inline-block;
    float: right;
}
.nav-lang {
    display: inline-block;
    float: right;
    position: relative;
    left: 25px;
}

.nav-lang>a {
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    transition: all 0.5s ease-out;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

.nav-lang>a:hover {
    color: #161717;
    text-decoration: none;
}

.nav-auth>a {
    color: #fff;
    font-size: 18px;
    transition: all 0.5s ease-out;
}

.nav-auth>a:hover {
    color: #161717;
    text-decoration: none;
}

.navbar-header>a {
    transition: all 0.5s ease-out;
    color: #fff;
}

.navbar-header>a:hover {
    color: #161717 !important;
    text-decoration: none;
}

.footer {
    background-color: #161717;
    padding-bottom: 15px;
    padding-top: 5px;
    color: #fff;
    font-size: 14px;
}

.footer .container .row {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: flex-start;
}

.footer .container .row .col-lg-6 {
    display: inline-block;
    width: auto;
}

.footer .container .row .col-lg-6>ul>li>a {
    color: #FF6A00;
    transition: all 0.5s ease-out;
}
.footer .container .row .col-lg-6>ul>li>a:hover {
    color: #FFF;
    text-decoration: none;
}

@media (max-width: 768px) {
    .nav-lang {
        left:auto;
        right:0;
        margin-left: 15px;
        top: 15px;
    }
}
